.headerPanel {
    padding:  0 20px;
    position: sticky;
    top: 0;
    z-index: 101;
}

.dropdown {
  :global {
    .t-dropdown__item {
      max-width: none!important;
      width: 105px;
      &-text {
        display: flex;
        align-items: center;
        margin: 5px;
      }

      .t-icon {
        margin-right: 8px;
      }
    }
  }
}

.badgeBtn {
  overflow: visible;
}