.dashboardDetail {
    margin: 24px;
}

.countValue {
    font-size: 36px;
    line-height: 44px;
    color: var(--td-text-color-primary);
}

.paneBtm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    text-align: left;
    line-height: 18px;
}