.layout1Panel {
    height: 100%;
    display: flex;
    flex-direction: row!important;
}//弹性盒子，沿行展开

.layout1Container {
    flex:1;
    min-width: 760px;
    overflow: auto;
}//容器剩余空间平均分配，最小宽度设置760像素，小于则出现滚动条

.layout2Panel {
    min-width: 1150px;
  }

  .layout3Panel {
    height: 100%;
  }
  
  .layout3Main {
    flex-direction: row!important;
    flex: 1;
    overflow: auto;
  }
  
  .layout3Content {
    overflow: auto;
  }